body {
    background-color: #121f27;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.App {
    background-color: #121f27;
    display: grid;
    height: 100%;
    width: 100%;
    grid-template-rows: 60px 30vh calc(70vh - 60px);
    grid-template-columns: 30% 70%;
    
    
   
}




